
<div class="d-flex justify-content-around">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img height="300px" src="/Imgs/@(item.Id).jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <a href="/product/Details/@(item.Id)" class="btn btn-success">product details</a>
            </div>
        </div>

    }

</div>
