@using Online_Book_Store.ViewModel
@model Traineewithcoursecs

<h1 class="text-@(Model.color)">@Model.traniee_name</h1>
<h1 class="text-@(Model.color)">@Model.course_name</h1>
<h1 class="text-@(Model.color)">@Model.mark</h1>

